@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;
}

body {
background-image:url("images/greeen.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

/* Rosmarie logo top left corner*/
.logo img{
	float:left;
	width:85px;
	height:auto;
}

/*Navigation bar top right corner*/
*{
	margin:0;
	padding:0;
	font-family:"Century Gothic";
}
ul{
	float:right;
	list-style-type:none;
	margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:#BF946F;
	padding:5px 20px;
	border:1px solid transparent;
	transition:0.6s ease;
}
ul li a:hover{
	background-color:#fff;
	color:#000;
}
ul li.active a{
	background-color:#fff;
	color:#000;
}


.main{
	max-width:1200px;
	margin:auto;
}
.title{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%)
}
.title h1{
	color:#fff;
	font-size:70px;
}


/*Description of page, Header/ Contact Page*/
.header {
	padding:10px;
	font-size:30px;
	text-align:left;
	background:#966942;
}


/* PLEASE BE A CONTAINER*/
.contact-form {
	width:600px;
	margin:auto;
	float:center;
	background-color:#bf946f;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #BF946F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #966942;
}


/*Please let this be a dang container*/

#container {
	padding:20px;
	background-color:#966942;
	width:800px;
	margin: 0 auto;
		}
input[type=submit] {
  background-color: #BF946F;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #733E20;
}


/* newsletter container*/
form {
	font-family:"Century Gothic";
}

.article{
	float:center;
	padding:20px;
	width:30%;
	height:300px;
	opacity:1;
	margin:0 auto 0 auto;
	position: fixed;
}

.div-container{
	padding:20px;
	background-color:#bf946f;
}
input [type=text], input[type=submit]{
	width:37%;
	padding:5px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #bf946f;
	box-sizing:border-box;
}

input [type=checkbox] {
	margin-top: 12px;
}

input [type=submit] {
	background-color:#733e20;
	color:#bf946f;
	border:none;
}
input [type=submit] hover {
	opacity:0.5;
}

/*Responsive layout- screen less than 800px wide, will make columns stack on top of each other*/
@media screen and (max-width:800px) {	
}
